:root {
  --beige: #ebead2;
  --grey: #979797;
  --white: #fff;
  --black: #000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.section {
  background-color: var(--beige);
  display: flex;
  margin: 15px;
}

.box {
  background-color: var(--white);
  color: var(--black);
  border: solid var(--grey) 1px;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  line-height: 75px;
  margin: 15px 0;
  padding: 0 15px;
}

.section-3 .box,
.section-4 .box,
.section-5 .box {
  margin: 15px;
}

.section-1 {
}

.section-2 {
  flex-wrap: wrap;
}

.section-3 {
  justify-content: center;
}

.section-4 {
}

.section-5 {
  justify-content: flex-end;
}
